.header {
  width: 100vw;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000000a9;
  backdrop-filter: blur(15px);
  transition: all 0.3s ease-out;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    text-align: center;

    a {
      text-decoration: none;

      .logo-text {
        font-family: 'Playfair Display', serif;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #f8f8f8;
        margin-top: 15px;
        background: linear-gradient(90deg, #007bff, #00ff88);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        position: relative;
        transition: all 0.3s ease;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);

        &:hover {
          letter-spacing: 2px;
          text-shadow: 2px 4px 15px rgba(0, 123, 255, 0.7);
        }

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background: #007bff;
          transition: width 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .desktop-nav {
    display: none;

    @media (min-width: 769px) {
      display: block;

      .nav-links {
        list-style: none;
        display: flex;
        gap: 50px;

        li {
          .link-button {
            font-family: 'Playfair Display', serif;
            font-size: large;
            font-weight: 700;
            background-color: transparent;
            border: none;
            color: #f8f8f8;
            transition: color 0.3s;

            &:hover {
              color: #0056b3;
            }
          }
        }
      }
    }
  }

  .burger-icon {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: #f8f8f8;
        border-radius: 5px;
        transition: all 0.3s ease;

        &.cross-icon {
          background-color: red;
          transform: rotate(45deg);
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: #000;
    transition: right 0.3s ease;
    z-index: 999;
    padding: 20px;

    &.open {
      right: 0; /* Sidebar slides in from the right when the 'open' class is applied */
    }

    .nav-links {
      list-style: none;
      display: block;
      gap: 20px;

      li {
        margin-bottom: 15px;

        .link-button {
          display: block;
          padding: 10px 0;
          color: #f8f8f8;
          background-color: rgba(0, 0, 0, 0.633);
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }

  .apply-button {
    .btn-apply {
      text-decoration: none;
      background-color: #007bff;
      color: white;
      padding: 12px 25px;
      border-radius: 25px;
      font-family: 'Playfair Display', serif;
      font-size: 1.2rem;
      box-shadow: 0px 4px 6px rgba(0, 123, 255, 0.4);
      transition: all 0.3s ease;

      &:hover {
        background-color: #0056b3;
        box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.6);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    &.open {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
